* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_52 {
  width: 381px;
  height: 664px;
  background: #ffffff;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_53 {
  width: 380px;
  height: 664px;
  background: #ffffff;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_54 {
  width: 139px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_55 {
  width: 380px;
  height: 618px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v1_56 {
  width: 372px;
  height: 54px;
  background: rgba(240, 81, 35, 0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v1_57 {
  width: 36px;
  height: 34px;
  background: url("../images/v1_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 324px;
  overflow: hidden;
}
.v1_58 {
  width: 11px;
  height: 11px;
  background: url("../images/v1_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 30px;
  overflow: hidden;
}
.v1_59 {
  width: 11px;
  height: 11px;
  background: rgba(240, 81, 35, 0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_60 {
  width: 26px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 31px;
  left: 47px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_61 {
  width: 136px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 30px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_62 {
  width: 372px;
  height: 54px;
  background: rgba(231, 231, 231, 1);
  opacity: 0.6000000238418579;
  position: absolute;
  top: 116px;
  left: 0px;
  overflow: hidden;
}
.v1_63 {
  width: 12px;
  height: 14px;
  background: url("../images/v1_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 336px;
  overflow: hidden;
}
.v1_64 {
  width: 12px;
  height: 14px;
  background: rgba(0, 0, 0, 0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_65 {
  width: 11px;
  height: 11px;
  background: url("../images/v1_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 30px;
  overflow: hidden;
}
.v1_66 {
  width: 11px;
  height: 11px;
  background: rgba(136, 136, 136, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_67 {
  width: 26px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 31px;
  left: 47px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_68 {
  width: 126px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 30px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_69 {
  width: 372px;
  height: 54px;
  background: rgba(231, 231, 231, 1);
  opacity: 0.6000000238418579;
  position: absolute;
  top: 170px;
  left: 0px;
  overflow: hidden;
}
.v1_70 {
  width: 12px;
  height: 14px;
  background: url("../images/v1_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 336px;
  overflow: hidden;
}
.v1_71 {
  width: 12px;
  height: 14px;
  background: rgba(0, 0, 0, 0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_72 {
  width: 11px;
  height: 11px;
 
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 30px;
  overflow: hidden;
}
.v1_73 {
  width: 11px;
  height: 11px;
  background: rgba(136, 136, 136, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_74 {
  width: 26px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 31px;
  left: 47px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_75 {
  width: 207px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 30px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_81 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_82 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_83 {
  width: 55px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}

.v1_85 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v1_89 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 0px;
  overflow: hidden;
}
.v1_90 {
  width: 159px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_91 {
  width: 77px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_92 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_93 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_97 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 286px;
  left: 0px;
  overflow: hidden;
}
.v1_98 {
  width: 246px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_99 {
  width: 77px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_100 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_101 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_105 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 0px;
  overflow: hidden;
}
.v1_106 {
  width: 59px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_107 {
  width: 77px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_108 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_109 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_113 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 0px;
  overflow: hidden;
}
.v1_114 {
  width: 60px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_115 {
  width: 55px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_116 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_117 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_121 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 470px;
  left: 0px;
  overflow: hidden;
}
.v1_122 {
  width: 51px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_123 {
  width: 77px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_124 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_125 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_129 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 531px;
  left: 0px;
  overflow: hidden;
}
.v1_130 {
  width: 71px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_131 {
  width: 55px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_132 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_133 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_137 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 0px;
  overflow: hidden;
}
.v1_138 {
  width: 59px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_139 {
  width: 71px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_140 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_141 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_145 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 0px;
  overflow: hidden;
}
.v1_146 {
  width: 133px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_147 {
  width: 55px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_148 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_149 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_153 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 715px;
  left: 0px;
  overflow: hidden;
}
.v1_154 {
  width: 199px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_155 {
  width: 77px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_156 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_157 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v1_161 {
  width: 372px;
  height: 61px;
  background: #f7f8fa;
  opacity: 1;
  position: absolute;
  top: 777px;
  left: 0px;
  overflow: hidden;
}
.v1_162 {
  width: 177px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_163 {
  width: 55px;
  color: rgba(41, 48, 59, 1);
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_164 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 333px;
  overflow: hidden;
}
.v1_165 {
  width: 14px;
  height: 8px;
  background: rgba(51, 51, 51, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
